/* WIDTH:
% -> Cuando usamos porcentaje usamos de referencia el tamaño del contenedor y el navegador calcula ese porcentaje. Esto no ocurre cuando usamos transform.
auto -> Cuando usamos auto le pedimos al navegador que calcule el ancho en función del espacio disponible.
HEIGHT:
% -> Cuando estamos dentro de un contenedor, este tiene que tener un alto declarado, si no no podrá calcular el porcentaje. Si se le aplica una medida con porcentaje se sustituirá automaticamente por auto.

auto -> Cuando utilizamos auto el alto lo calculará el navegador en base al contenido del elemento

NOTA: Height es una propiedad que tenéis que usar con mucho cuidado. Si no es necesario establecer un alto, dejad que el contenido sea el que decida el alto del elemento. */

/* Nota: si el contenedor no tiene contenido, el % en heigh solo funciona si su padre tiene un alto declarado, de lo contrario se pondra auto(altura determinada por el contenido) */



body{
    background-color: #333;
    color: lightcoral;
    margin: 0;
  }

.box{
    width: 300px;
    height: 300px;
    background-color:lightgreen;
    /* si no tiene un alto declarado, el alto por defecto sera auto, y auto calcula el alto en base a su contenido. el 100%, 35%, etc de algo que no tiene un alto definido es 0 */
  }

.box-children {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: lightseagreen;
   
    }

.tittle{
    color: lightcoral;
}

